**logs
**.idea
**.ipr
**.iws
**.iml
**.swp
**.settings
**.project
**.classpath
**.DS_Store
**.externalToolBuilders
**.springBeans
**.bak
**/bin/**
**/target
**/test-output
spark-warehouse/
**.flattened-pom.xml
